In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [2]:
restore1 = np.load('run_on_osx/test_data.npz')
restore2 = np.load('run_on_hyak/test_data.npz')

In [8]:
for key in restore1.keys():
    diff = restore1[key] - restore2[key]
    print(restore1[key], restore2[key], diff)
    if np.max(np.abs(diff)) != 0:
        print('There is a difference')

310.3930573237407 310.3930573237407 0.0
310.39305732374066 310.39305732374066 0.0
310.39305732374066 310.39305732374066 0.0
[310.39305732 310.39305732 310.39305732] [310.39305732 310.39305732 310.39305732] [0. 0. 0.]
[0.37454012 0.95071431 0.73199394 0.59865848 0.15601864 0.15599452
 0.05808361 0.86617615 0.60111501 0.70807258 0.02058449 0.96990985
 0.83244264 0.21233911 0.18182497 0.18340451 0.30424224 0.52475643
 0.43194502 0.29122914 0.61185289 0.13949386 0.29214465 0.36636184
 0.45606998 0.78517596 0.19967378 0.51423444 0.59241457 0.04645041
 0.60754485 0.17052412 0.06505159 0.94888554 0.96563203 0.80839735
 0.30461377 0.09767211 0.68423303 0.44015249 0.12203823 0.49517691
 0.03438852 0.9093204  0.25877998 0.66252228 0.31171108 0.52006802
 0.54671028 0.18485446 0.96958463 0.77513282 0.93949894 0.89482735
 0.59789998 0.92187424 0.0884925  0.19598286 0.04522729 0.32533033
 0.38867729 0.27134903 0.82873751 0.35675333 0.28093451 0.54269608
 0.14092422 0.80219698 0.07455064 0.98688694 0.77224477 0.19871568
 0.00552212 0.81546143 0.70685734 0.72900717 0.77127035 0.07404465
 0.35846573 0.11586906 0.86310343 0.62329813 0.33089802 0.06355835
 0.31098232 0.32518332 0.72960618 0.63755747 0.88721274 0.47221493
 0.11959425 0.71324479 0.76078505 0.5612772  0.77096718 0.4937956
 0.52273283 0.42754102 0.02541913 0.10789143] [0.37454012 0.95071431 0.73199394 0.59865848 0.15601864 0.15599452
 0.05808361 0.86617615 0.60111501 0.70807258 0.02058449 0.96990985
 0.83244264 0.21233911 0.18182497 0.18340451 0.30424224 0.52475643
 0.43194502 0.29122914 0.61185289 0.13949386 0.29214465 0.36636184
 0.45606998 0.78517596 0.19967378 0.51423444 0.59241457 0.04645041
 0.60754485 0.17052412 0.06505159 0.94888554 0.96563203 0.80839735
 0.30461377 0.09767211 0.68423303 0.44015249 0.12203823 0.49517691
 0.03438852 0.9093204  0.25877998 0.66252228 0.31171108 0.52006802
 0.54671028 0.18485446 0.96958463 0.77513282 0.93949894 0.89482735
 0.59789998 0.92187424 0.0884925  0.19598286 0.04522729 0.32533033
 0.38867729 0.27134903 0.82873751 0.35675333 0.28093451 0.54269608
 0.14092422 0.80219698 0.07455064 0.98688694 0.77224477 0.19871568
 0.00552212 0.81546143 0.70685734 0.72900717 0.77127035 0.07404465
 0.35846573 0.11586906 0.86310343 0.62329813 0.33089802 0.06355835
 0.31098232 0.32518332 0.72960618 0.63755747 0.88721274 0.47221493
 0.11959425 0.71324479 0.76078505 0.5612772  0.77096718 0.4937956
 0.52273283 0.42754102 0.02541913 0.10789143] [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0.]

In [9]:
conn1 = sqlite3.connect('run_on_osx/test_data.sqlite')
conn2 = sqlite3.connect('run_on_hyak/test_data.sqlite')

df1 = pd.read_sql('select * from num_floats;', conn1)
df2 = pd.read_sql('select * from num_floats;', conn2)

In [13]:
df1.values - df2.values

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [14]:
df1 = pd.read_sql('select * from rand_floats;', conn1)
df2 = pd.read_sql('select * from rand_floats;', conn2)

In [17]:
np.max(np.abs(df1.values - df2.values)) == 0

True